.filename {
    width: 266px;
    height: 10px;
    padding: 15px;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    resize: none;
    box-sizing: border-box;
}

.downl {
    display: flex;
    flex-direction: column;
}

// .method {
//     background: transparent;
//     margin-top: 20px;
// }

.msg {
    font-size: 15px;
    letter-spacing: 1.3px;
    font-weight: 500;
    margin-top: 50px;

    button {
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        width: 80px;
        height: 20px;
        cursor: pointer;
    }
}

.msg1 {
    font-size: 15px;
    letter-spacing: 1.3px;
    font-weight: 500;
    margin-top: 10px;

    button {
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        width: 80px;
        height: 20px;
    }
}

.import{
    margin-top: 5px;
}

.download-button {
    margin-top: 10px;
    background-color: #F85D50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #E64439;
  }
  
  .download-button i {
    margin-right: 5px;
  }

  ::ng-deep .mat-dialog-container {
    height: auto;
    overflow-y: scroll;
  }