body {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #2c2929 0%, #2c3e50 74%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;

}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.head {
    position: absolute;
    top: 0;
    left: 0;
}

.selectFile {
    height: 210px;
    width: 130%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f1f1f1;
    margin-bottom: 35%;
}

.uploadTxt {
    margin-top: 11px;
    display: flex;
    justify-content: flex-start;
    margin-left: 56px;
}

.selecDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.selectFile label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 55px;
    color: rgb(35, 82, 212);
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;
}

.selectFile input[type="file"] {
    display: none;
}

.selectFile input[type="radio"] {
    width: 20px;
    height: 20px;
}

.selectFile input {
    width: 266px;
    height: 10px;
    padding: 15px;
    margin-left: 55px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    resize: none;
    box-sizing: border-box;
}

.submitBtn {
    margin-left: 154px;
    margin-top: 15px;
    background: transparent;
    color: black;
    width: 75px;
    height: 35px;
    border: 1px solid #A163F7;
    border-radius: 8px;
    cursor: pointer;
}

// .submitBtn1 {
//     margin-left: 154px;
//     margin-top: 15px;
//     background: transparent;
//     color: #6a5858;
//     width: 75px;
//     height: 35px;
//     border: 1px solid #8c8298;
//     border-radius: 8px;
//     cursor: pointer;
// }

.filename {
    width: 266px;
    height: 10px;
    padding: 15px;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    resize: none;
    box-sizing: border-box;
}

::ng-deep .validateBtn {
    width: 90px;
    height: 30px;
    background: aliceblue;
    margin: 20px;
    cursor: pointer;
}

.validateFile {
    position: absolute;
    top: 313px;
    left: 26%;

    h2 {
        position: absolute;
        top: -20px;
        left: 30%;
    }
}

.radio-methods {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 3rem;

    .radio input {
        margin-left: 10px;
    }
}

.tag-des {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 266px;
}

.description input {
    margin-left: 65px;
    margin-top: 10px;
}

.reqname input {
    margin-left: 87px;
    margin-top: 10px;
}

.reqtype input {
    margin-top: 10px;
    margin-left: 96px;
}

.resname input {
    margin-top: 10px;
    margin-left: 75px;
}

.restype input {
    margin-top: 10px;
    margin-left: 84px;
}

#input-box {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fdf8f8;
    margin-top: 25px;
    margin-right: 260px;
    position: absolute;
}

#input-box1 {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fdf8f8;
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
}


.added-path {
    width: 100%;
    min-width: 80px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.added-path input {
    width: 110px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 10%);
}

.container-form {
    margin: auto;
    inset: 0;
    margin-top: 35px;
    max-width: 800px;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}

// .key, .description, .reqname, .reqtype, .resname, .restype {
//     display: inline-block;
//     vertical-align: top;
//     margin-right: 40px;
// }

.key input {
    margin-left: 20px;
}

.key input[type=text],
.tag-des input[type=text],
.description input[type=text],
.reqname input[type=text],
.reqtype input[type=text],
.restype input[type=text],
.resname input[type=text],
.tag-des textarea,
.description input[type=text] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    // margin-left: 65px;
    // margin-top: 10px;
}

.tag-des textarea {
    height: 80px;
    resize: none;
}

.radio-methods {
    margin-bottom: 20px;
}

.radio {
    margin-right: 20px;
}

.radio input[type=radio] {
    margin-right: 5px;
    vertical-align: middle;
}

.radio label {
    font-weight: bold;
}

.reqprop {
    margin-top: 20px;
}

.nametype,
.re-nametype {
    margin-top: 10px;
}

.name {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.typee {
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 0px rgb(0 0 0 / 10%);
    margin-right: 10px;
}

.addBtn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.rmBtn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.more-path {
    background-color: #1aba00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.moreBtn {
    display: flex;
    justify-content: flex-end;
}

.sBtn {
    background-color: #0006ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid white;
}

.submitt {
    display: flex;
    justify-content: center;
}


.small-box {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    cursor: pointer;
}


.large-box {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    cursor: pointer;
    overflow: auto;
}

.getColor {
    background-color: #61affe;
    width: 109px;
    height: 39px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    position: absolute;
    bottom: 3px;
    left: 6px;
}

.postColor {
    background-color: #49cc90;
    width: 109px;
    height: 39px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    position: absolute;
    bottom: 3px;
    left: 6px;
}

.forAddPath {
    position: relative;
}

.addPathinp {
    width: 100%;
    height: 43px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #c4dcf4;
    margin-top: 10px;
}

.addPathinp1 {
    width: 100%;
    height: 43px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #ccecdd;
    margin-top: 10px;
}

.addpathKP {
    position: absolute;
    color: black;
    top: 23px;
    left: 21%;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
}

.edit {
    position: absolute;
    top: 15px;
    color: black;
    right: 27px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid black;
    width: 75px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
}


// .card {
//     background-image: linear-gradient(to right top, #00f4be, #00c1cb, #008bc5, #0054a3, #021d67);
//     border-radius: 22px;
//     transition: all .3s;
//   }
//   .card:hover {
//     box-shadow: 0 0 30px 1px rgba(137, 196, 244, .3);
//   }

//   .card .card2 {
//     border-radius: 0;
//     transition: all .2s;
//   }
//   .card .card2:hover {
//     transform: scale(0.98);
//     border-radius: 20px;
//   }
//   .card .card2 .form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 1rem;
//     gap: 10px;
//     padding: 0.4rem 2rem;
//     background-color: #f1f1f1;
//     border-radius: 20px;
//   }