<!-- welcome.component.html -->

<div class="welcome-container">
  <h1 class="welcome-header">Welcome for making Easy to create and maintain your API Spec!!!</h1>
  <p class="welcome-message">Enjoy your stay!</p>

  <div class="card">
    <div class="card-header">
      <h1 class="feature-title">Introducing Our Latest Feature</h1>
    </div>
    <div class="card-body">
      <p class="feature-description">A simple and intuitive way to create your API specifications!</p>
      <p class="feature-description">With just a click, you can now access a powerful tool that will assist you in
        defining the specifications for your APIs.</p>
      <p class="feature-description">No more hassle or confusion when documenting your API endpoints, request and
        response formats, or authentication requirements.</p>
      <p class="feature-description">Our feature streamlines the process, allowing you to focus on designing robust and
        efficient APIs.</p>
      <p class="feature-cta" style="color: black;">So why wait? <a href="http://localhost:4200/spec/edit" class="cta-link">Click here</a> to make your API spec and unlock
        the potential of seamless API development today!</p>
    </div>
    <div class="card-footer">
      <p class="feature-small-para">Download your API spec in YAML or JSON format and easily check it on Swagger.</p>
    </div>
  </div>

</div>